html {
  font-size: 24px;
  display: grid;
  grid-template: 1fr / 10% 1fr 10%;
  background-color: #121212;
  color: white;
}

body {
  font-family: 'Chakra Petch', arial, sans-serif;
  margin: 0;
  grid-area: 1 / 2;
  padding: 0px 5%;
}

p,
li,
ul {
  text-align: justify;
  line-height: 1.5;
}

/* Header */ 

h1 {
  display: inline-block;
  margin: 20px 0px 0px 0px;
}

/* Links toggle */

#menu-toggle {
  position: absolute;
  right: 15%;
  top: 30px;
  width: 24px;
  height: 24px;
  opacity: 0;
  z-index: 1;
}

#custom-checkbox {
  transition: all 0.1s ease-out;
  position: absolute;
  right: 15%;
  top: 30px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
}

#menu-toggle:checked ~ #custom-checkbox {
  transition: all 0.3s ease-out;
  background-color: white;
}

/* Links */

#links {
  display: none;
  /* Remaining style is in the hamburger script */
}

#links * {
  margin: 0;
  padding: 0;
}

#links li {
  display: block;
}

/* Skills */

#skills ul,
#working-on ul {
  list-style: inside;
}

/* Footer */

footer {
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  margin: 0;
  border-top: 1px solid white;
}