/* Phone */

@media only screen and (max-device-width: 500px) {
  html {
    grid-template: 1fr / 5% 1fr 5%;
  }
}

@media only screen and (max-device-width: 850px) {
  #links {
    width: 100%;
    right: 0px;
  }
}

html {
  font-size: 24px;
  display: grid;
  grid-template: 1fr / 10% 1fr 10%;
  background-color: #121212;
  color: white;
}

body {
  font-family: 'Chakra Petch', arial, sans-serif;
  margin: 0;
  grid-area: 1 / 2;
  padding: 0px 5%;
}

p,
li,
ul {
  text-align: justify;
  line-height: 1.5;
}

a {
  color: crimson;
}

strong {
  font-style: normal;
  color: crimson;
}

#skills {
  border-bottom: 1px solid white;
  padding-bottom: 30px;
}

/* Header */ 

header,
#introduction {
  border-bottom: 1px solid white;
}

h1 {
  margin: 0;
  line-height: 2;
}

/* Links toggle */

#menu-toggle {
  position: absolute;
  right: 15%;
  top: 40px;
  width: 24px;
  height: 24px;
  opacity: 0;
  z-index: 1;
}

#custom-checkbox {
  transition: all 0.1s ease-out;
  position: absolute;
  right: 15%;
  top: 40px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
}

#menu-toggle:checked ~ #custom-checkbox {
  transition: all 0.3s ease-out;
  background-color: white;
}

/* Links */

#links {
  display: none;
}

#menu-toggle:checked ~ #links {
  display: block;
  transition: all 0.3s ease-out;
  background-color: white;
}

#links * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#links-main * {
  color: white;
}

#links-external * {
  color: blueviolet;
}

#links-instagram * {
  color: salmon;
}

/* Skills */

details {
  border: 1px gray solid;
  border-radius: 10px;
  padding: 20px;
}

details[open] summary {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

details p {
  margin: 10px 0px 0px 0px;
}

#skills ul {
  margin-bottom: 0;
}

/* Working on */

#working-on ul {
  list-style: inside;
}

/* Footer */

footer {
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  margin: 0;
  border-top: 1px solid white;
}