html {
  font-size: 24px;
  display: grid;
  grid-template: 1fr / 10% 1fr 10%;
  background-color: black;
  color: white;
}

body {
  font-family: 'Chakra Petch', arial, sans-serif;
  margin: 0;
  grid-area: 1 / 2;
  padding: 0px 5%;
}

h1 {
  display: inline-block;
  margin: 0px;
  line-height: 2;
}

#go-back-link {
  float: right;
  position: absolute;
  right: 15%;
  top: 45px;
}

footer {
  margin-bottom: 20px;
  text-align: center;
  background-color: gray;
  padding: 20px;
  margin: 0;
}